<section class="about">
    <div class="container">
        <div class="about__body">
            <div class="about__body-text">
                <h2 class="about__body-text-title">
                    What is FHE?
                </h2>
                <p class="about__body-text-desc">Fully Homomorphic Encryption (FHE) is a way of encrypting data in such a way that it can be processed (e.g., added, multiplied) in encrypted form without having to decrypt it. <span class="desktop">This allows you to perform calculations on encrypted data without revealing its contents, which ensures a high level of confidentiality when processing information.</span></p>
            </div>
            <div class="about__body-box">
                <div class="about__body-box-symbol">
                    <span>*</span>
                    <span>ʥ</span>
                    <span>ϡ</span>
                    <span>7</span>
                </div>
            </div>
            <p class="about__body-text-desc"><span class="mobile">This allows you to perform calculations on encrypted data without revealing its contents, which ensures a high level of confidentiality when processing information.</span></p>
        </div>
    </div>
</section>