<section class="cases">
    <div class="container">
        <div class="cases__body">
            <div class="cases__body-text">
                <h2 class="cases__body-text-title">
                    Use cases
                </h2>
                <p class="cases__body-text-desc">
                    Blog
                </p>
            </div>
            <div class="cases__body-card">
                <div class="cases__body-card-item">
                    <span>Biotech AI for drug development</span>
                    <p>Handles large, expensive datasets and models under heavy regulation, ensuring secure data sharing and collaboration</p>
                </div>
                <div class="cases__body-card-item">
                    <span>Science AI</span>
                </div>
                <div class="cases__body-card-item">
                    <span>Intellectual property AI</span>
                </div>
                <div class="cases__body-card-item">
                    <span>Fintech AI</span>
                </div>
                <div class="cases__body-card-item">
                    <span>Military AI</span>
                </div>
            </div>
        </div>
    </div>
</section>