<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__body-social">
                <a href="" class="footer__body-social-logo">
                    <img src="../images/dist/footer__logo.png" alt="">
                </a>
                <div class="footer__body-social-icons">
                    <a href="" class="footer__body-social-icons-item">
                        <img src="../images/dist/footer__social.png" alt="">
                    </a>
                    <a href="" class="footer__body-social-icons-item">
                        <img src="../images/dist/footer__social.png" alt="">
                    </a>
                    <a href="" class="footer__body-social-icons-item">
                        <img src="../images/dist/footer__social.png" alt="">
                    </a>
                </div>
            </div>
            <nav class="footer__body-links">
                <ul class="footer__body-links-menu">
                    <span>Solutions</span>
                    <li class="footer__body-links-menu-item">
                        <a href="">ML with FHE</a>
                    </li>
                    <li class="footer__body-links-menu-item">
                        <a href="">Database with FHE</a>
                    </li>
                    <li class="footer__body-links-menu-item">
                        <a href="">Bridges with FHE</a>
                    </li>
                    <li class="footer__body-links-menu-item">
                        <a href="">Semi-cold Wallet</a>
                    </li>
                    <li class="footer__body-links-menu-item">
                        <a href="">OTP with FHE</a>
                    </li>
                    <li class="footer__body-links-menu-item">
                        <a href="">Unique Smart Contract</a>
                    </li>
                </ul>
                <ul class="footer__body-links-menu">
                    <span>ASIC</span>
                    <li class="footer__body-links-menu-item">
                        <a href="">Hardware <br>acceleration</a>
                    </li>
                </ul>
                <ul class="footer__body-links-menu">
                    <span>Developers</span>
                    <li class="footer__body-links-menu-item">
                        <a href="">Blog</a>
                    </li>
                    <li class="footer__body-links-menu-item">
                        <a href="">Instructions</a>
                    </li>
                    <li class="footer__body-links-menu-item">
                        <a href="">Documentation</a>
                    </li>
                </ul>
                <ul class="footer__body-links-menu">
                    <span>About team</span>
                    <li class="footer__body-links-menu-item">
                        <a href="">Our team</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__body-right">
                <p>Company name (registration number and tax number **********) is registered as a FHE operator by the NAME_NAME_NAME of COUNTRY. Registration address: COUNTRY, CITY, NMBR. Located at: COMPANY LOCATION</p>
            </div>
        </div>
    </div>
</footer>