<section class="form">
    <div class="container">
        <div class="form__body">
            <h2 class="form__body-title">
                Try this product
            </h2>
            <form id="form" action="../mail.php" class="form__body-fr" method="post">
                <div class="form__body-fr-start">
                    <input name="name" placeholder="First Name" type="text">
                    <input name="surname" placeholder="Second Name" type="text">
                    <input name="mail" placeholder="Email" type="email">
                    <input name="tel" placeholder="Phone Number" type="tel">
                </div>
                <div class="form__body-fr-end">
                    <input name="country" placeholder="Country" type="text">
                    <input name="city" placeholder="City" type="text">
                    <div class="form__body-fr-end-prov">
                        <button class="form__body-fr-end-prov-btn" type="submit">
                            <span>Get product now</span>
                            <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.358 10L11.358 4.2265L11.358 15.7735L21.358 10ZM4.6416 11L12.358 11L12.358 9L4.6416 9L4.6416 11Z" fill="black"/>
                            </svg>                                
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>