<header class="header">
    <div class="container">
        <div class="header__body desktop">
            <a href="" class="header__body-logo">
                <img src="../images/dist/header__logo.png" alt="">
            </a>
            <nav class="header__body-nav">
                <ul class="header__body-nav-menu">
                    <li class="header__body-nav-menu-item">
                        <a href="##" id="nav">Solutions</a>
                        <div class="head__line"></div>
                    </li>
                    <li class="header__body-nav-menu-item">
                        <a href="">ASIC</a>
                        <div class="head__line"></div>
                    </li>
                    <li class="header__body-nav-menu-item">
                        <a href="">Developers</a>
                        <div class="head__line"></div>
                    </li>
                    <li class="header__body-nav-menu-item">
                        <a href="">About team</a>
                        <div class="head__line"></div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__mobile mobile">
            <div class="header__mobile-top">
                <a href="" class="header__body-logo">
                    <img src="../images/dist/header__logo.png" alt="">
                </a>
                <div class="burger">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header__mobile-bot">
                <div class="link__box-item">
                    <a href="">ML with FHE</a>
                    <a href="">FHE Bridges</a>
                    <a href="">FHE Gambling</a>
                    <a href="">Semi-cold Wallet</a>
                </div>
                <div class="link__box-line"></div>
                <div class="link__box-item">
                    <a href="">Encryption of Databases for Secure Analysis</a>
                    <a href="">ML FHE in the field of Intellectual Property Rights</a>
                    <a href="">FHE Smart Contract with Partial Programmable Privacy</a>
                    <a href="">Replacing Google Authenticator’s OTP with FHE</a>
                </div>
                <div class="link__box-line"></div>
                <div class="link__box-item">
                    <a href="">Replacing or Enhancing
                        Zero-Knowledge Proofs
                        (ZK)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="link__box desktop">
        <div class="link__box-item">
            <a href="">ML with FHE</a>
            <a href="">FHE Bridges</a>
            <a href="">FHE Gambling</a>
            <a href="">Semi-cold Wallet</a>
        </div>
        <div class="link__box-line"></div>
        <div class="link__box-item">
            <a href="">Encryption of Databases for Secure Analysis</a>
            <a href="">ML FHE in the field of Intellectual Property Rights</a>
            <a href="">FHE Smart Contract with Partial Programmable Privacy</a>
            <a href="">Replacing Google Authenticator’s OTP with FHE</a>
        </div>
        <div class="link__box-line"></div>
        <div class="link__box-item">
            <a href="">Replacing or Enhancing
                Zero-Knowledge Proofs
                (ZK)</a>
        </div>
    </div>
</header>