<section class="ml">
    <div class="ml__body">
        <div class="ml__body-black">
            <img class="anim" src="../images/dist/text__anim.png" alt="">
        </div>
        <div class="ml__body-text">
            <div class="ml__body-text-main">
                <p class="ml__body-text-soft">
                    There are two types of ML FHE
                </p>
                <h3 class="ml__body-text-main-title">
                    Confidential inference
                </h3>
                <span>(operations of encrypted neural network)</span>
                <p class="ml__body-text-main-desc">The trained neural network and user queries remain encrypted throughout the process</p>
            </div>
            <div class="ml__body-text-line"></div>
            <button class="ml__body-text-btn">
                <span>Try this product</span>
                <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21.358 10L11.358 4.2265L11.358 15.7735L21.358 10ZM4.6416 11L12.358 11L12.358 9L4.6416 9L4.6416 11Z"
                        fill="black" />
                </svg>
            </button>
            <div class="ml__body-text-main">
                <h3 class="ml__body-text-main-title">
                    Confidential AI training
                </h3>
                <p class="ml__body-text-main-desc">Addresses the needs of various market participants by allowing them to train AI models on encrypted
                    data, ensuring that the datasets, models, and user queries remain secure and proprietary. FHE allows
                    owners of datasets, models, and queries to protect their assets from theft</p>
            </div>
        </div>
    </div>
</section>