<section class="product">
    <div class="container">
        <div class="product__body">
            <h2 class="product__body-title">
                Our products
            </h2>
            <div class="product__body-box">
                <div class="product__body-box-item card__one">
                    <div class="product__body-box-item-info">
                        <span>AI</span>
                        <p>training</p>
                    </div>
                    <img class="card__one-img" src="../images/dist/card__one.png" alt="">
                    <div class="product__body-box-item-desc">
                        <p class="product__body-box-item-desc-text">ML with FHE</p>
                        <button class="product__body-box-item-desc-btn">
                            <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.358 10L11.358 4.2265L11.358 15.7735L21.358 10ZM4.6416 11L12.358 11L12.358 9L4.6416 9L4.6416 11Z" fill="black"/>
                            </svg>                                
                        </button>
                    </div>
                </div>
                <div class="product__body-box-item card__two">
                    <div class="product__body-box-item-info">
                        <span>Data</span>
                        <p>base</p>
                    </div>
                    <img class="card__two-imgone" src="../images/dist/card__two-img1.png" alt="">
                    <img class="card__two-imgtwo" src="../images/dist/card__two-img2.png" alt="">
                    <div class="product__body-box-item-desc">
                        <p class="product__body-box-item-desc-text">With FHE</p>
                        <button class="product__body-box-item-desc-btn">
                            <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.358 10L11.358 4.2265L11.358 15.7735L21.358 10ZM4.6416 11L12.358 11L12.358 9L4.6416 9L4.6416 11Z" fill="black"/>
                            </svg>                                
                        </button>
                    </div>
                </div>
                <div class="product__body-box-item card__three">
                    <div class="product__body-box-item-info">
                        <svg width="61" height="31" viewBox="0 0 61 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M58 30.5C58 26.8886 57.2887 23.3127 55.9067 19.9762C54.5247 16.6397 52.499 13.6082 49.9454 11.0546C47.3918 8.50095 44.3602 6.47531 41.0238 5.09331C37.6873 3.71131 34.1113 3 30.5 3C26.8886 3 23.3127 3.71131 19.9762 5.09331C16.6398 6.47532 13.6082 8.50095 11.0546 11.0546C8.50095 13.6082 6.47532 16.6398 5.09331 19.9762C3.71131 23.3127 3 26.8886 3 30.5" stroke="white" stroke-width="6"/>
                        </svg>                            
                        <svg width="61" height="31" viewBox="0 0 61 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M58 30.5C58 26.8886 57.2887 23.3127 55.9067 19.9762C54.5247 16.6397 52.499 13.6082 49.9454 11.0546C47.3918 8.50095 44.3602 6.47531 41.0238 5.09331C37.6873 3.71131 34.1113 3 30.5 3C26.8886 3 23.3127 3.71131 19.9762 5.09331C16.6398 6.47532 13.6082 8.50095 11.0546 11.0546C8.50095 13.6082 6.47532 16.6398 5.09331 19.9762C3.71131 23.3127 3 26.8886 3 30.5" stroke="white" stroke-width="6"/>
                        </svg>                            
                        <span>Bridges</span>
                        <svg width="61" height="31" viewBox="0 0 61 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M58 1.90735e-06C58 3.61135 57.2887 7.18734 55.9067 10.5238C54.5247 13.8603 52.499 16.8918 49.9454 19.4454C47.3918 21.9991 44.3602 24.0247 41.0238 25.4067C37.6873 26.7887 34.1113 27.5 30.5 27.5C26.8886 27.5 23.3127 26.7887 19.9762 25.4067C16.6398 24.0247 13.6082 21.999 11.0546 19.4454C8.50095 16.8918 6.47532 13.8602 5.09331 10.5238C3.71131 7.18734 3 3.61135 3 0" stroke="white" stroke-width="6"/>
                        </svg>
                        <svg width="61" height="31" viewBox="0 0 61 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M58 1.90735e-06C58 3.61135 57.2887 7.18734 55.9067 10.5238C54.5247 13.8603 52.499 16.8918 49.9454 19.4454C47.3918 21.9991 44.3602 24.0247 41.0238 25.4067C37.6873 26.7887 34.1113 27.5 30.5 27.5C26.8886 27.5 23.3127 26.7887 19.9762 25.4067C16.6398 24.0247 13.6082 21.999 11.0546 19.4454C8.50095 16.8918 6.47532 13.8602 5.09331 10.5238C3.71131 7.18734 3 3.61135 3 0" stroke="white" stroke-width="6"/>
                        </svg>                                                        
                    </div>
                    <img class="card__three-img" src="../images/dist/card__three.png" alt="">
                    <div class="product__body-box-item-desc">
                        <p class="product__body-box-item-desc-text">With FHE</p>
                        <button class="product__body-box-item-desc-btn">
                            <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.358 10L11.358 4.2265L11.358 15.7735L21.358 10ZM4.6416 11L12.358 11L12.358 9L4.6416 9L4.6416 11Z" fill="black"/>
                            </svg>                                
                        </button>
                    </div>
                </div>
                <div class="product__body-box-item card__four">
                    <div class="product__body-box-item-info">
                        <img src="../images/dist/wallet.png" alt="">
                        <span>Semi-cold Wallet</span>
                    </div>
                    <img class="card__four-img" src="../images/dist/card__four.png" alt="">
                    <div class="product__body-box-item-desc">
                        <p class="product__body-box-item-desc-text">With FHE</p>
                        <button class="product__body-box-item-desc-btn">
                            <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.358 10L11.358 4.2265L11.358 15.7735L21.358 10ZM4.6416 11L12.358 11L12.358 9L4.6416 9L4.6416 11Z" fill="black"/>
                            </svg>                                
                        </button>
                    </div>
                </div>
                <div class="product__body-box-item card__five">
                    <div class="product__body-box-item-info">
                        <span>And more unique products</span>
                        <p>All products can be viewed in a special section</p>
                    </div>
                    <img class="card__five-img" src="../images/dist/card__five.png" alt="">
                    <img class="shadow__five-img" src="../images/dist/shadow__five.png" alt="">
                    <div class="product__body-box-item-desc">
                        <button class="product__body-box-item-desc-btn">
                            <span>See all products</span>
                            <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.358 10L11.358 4.2265L11.358 15.7735L21.358 10ZM4.6416 11L12.358 11L12.358 9L4.6416 9L4.6416 11Z" fill="black"/>
                            </svg>                                
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>